*{
	 margin: 0;padding: 0;
	 box-sizing: border-box;
	 font-family: poppins,sans-serif;
	 overflow-x: hidden;
	 

}
body{
	    background-image: url("bg18.jpg");
	    background-position: center;
	    background-size: cover;
	    height: 100%;
	    background-repeat: no-repeat;
	    background-attachment: fixed;
	    scroll-behavior: smooth;

}
.nav{
	    height: 80px;
	    width: 100%;
	    background-image: linear-gradient(45deg,darkviolet,violet);
	    position: sticky; top: 0;
	    padding: 30px;
	    overflow: hidden;
}

h1{
	 color: ghostwhite;
	 text-transform: capitalize;
}
h5{
	 color: white;
	 font-style: bold;
	 text-transform: capitalize;
}
h2{
	color: ghostwhite;
	text-transform: capitalize;
	font-size: 50px;
}
h3{
	color: white;
	background: limegreen;
	text-transform: uppercase;
}
mark{
	 color: black; background: limegreen;
	 padding: 5px; font-style: italic;
}

.container{
              display:inline-flex;
              justify-content:center;
              align-items: flex-start;
              margin-top: 100px;

             
}
span{
	  color: white;
	  text-transform: capitalize; 
	  font-style: bold; 
	 

}



.a1{
	     border: none; 
	     height: 200px;width:300px;
	     backdrop-filter: blur(10px);
	     background-image: url('imga1.jpg');
	     justify-content:center;
	     justify-content: center;
	     align-items:center;
	     display:flex;
	     border-radius: 20px;
	     margin-left: 30px;
	     padding: 10px;
	     transition: 0.5s;
	    
	     
}

marquee{
	   width: 70%;
}

audio{
       box-shadow: 0px 0px 30px none;
       color: darkviolet;
}
@media (max-width: 700px) and (min-width: 200px){


	.container{
              display:inline-block;
              justify-content:center;
              align-items: flex-start;
              margin-top: 50px;

             
}
.a1{
        margin-top: 20px;
        max-width: 100%;
}


footer{
             

             height: 300px;
             
             display: inline-block;
               padding: 70px;
              width: 100%;
	        background: rgba(0,0,0,0.9);
	        
	        box-shadow:inset 0px 0px 10px black;
	        margin-top: 50px;
}

       }

h2{
	 font-size: 30px;
	 color: ghostwhite;opacity: 0.7;
}

}
footer{
             
             height: 400px;
              margin-top: 200px;
              width: 100%;
	        background: rgba(0,0,0,0.9);
	        backdrop-filter: blur(10px);
	        box-shadow:inset 0px 0px 10px black;
	        margin-top: 50px;
}
a{
	color: white; background: hotpink;
	text-decoration: none;
	font-size: 20px;
	text-transform: uppercase;

}
h6{
	 color: white;
	 font-size: 12px;
}